* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-image: url(images/bg-intro-desktop.png);
  background-color: rgba(221, 24, 10, 0.7);
  padding-top: 50px;
  padding-bottom: 5rem;

}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 30px 30px;
}

.left-div {
  color: white;
  margin-top: 3rem;
  padding-right: 2rem;
  width: 50%;
}
.left-div h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin: 20px 0;
}

.left-div p {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  line-height: 1.5rem;
}

.form-div {
  color: white;
  width: 50%;

}

#form-p {
  background: rgb(26, 26, 223);
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}
form {
  background-color: white;
  border-radius: 10px;
  padding: 30px 20px;
}

.form-group input,
button {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



button {
  text-transform: capitalize;
  background-color: green;
  box-shadow: 0 4px 8px 0 rgba(17, 16, 16, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 10px;
}
form p {
  color: rgb(48, 46, 46);
  font-size: 12px;
  text-align: center;
}

form p span {
  color: red;
}

.form-group{
    color:black;
    position: relative;
    margin-bottom: 30px;
}

.form-group i{
    position: absolute;
    top:10px;
    right: 10px;
    visibility: hidden;
}

.form-group .check-circle{
  color:green;
}
.form-group .exclamation-circle{
    color:red;
  }

.form-group small{
    visibility: hidden;
    position: absolute;
    top:45px;
    right: 10px;
    color:red;
}

.form-group.success input{
    border-color: green;
}

.form-group.error input{
    border:2px solid red;
}

.form-group.success i.check-circle{
 visibility:visible;
 color:green;
}

.form-group.error i.exclamation-circle{
  visibility:visible;
  color: red;
 }

 .form-group.error small{
  visibility: visible;
  color: red;
 }


footer {
  text-align: center;
  background-color: black;
  padding: 20px;
  color: white;
  font-size: 18px;
}

@media (max-width: 768px) {
  .flex {
   display: flex;
   flex-direction: column;
    width: 100%;
    padding-top: 0;
  }
  main {
    padding-top: 0;
    background-image: url(images/bg-intro-mobile.png);
  }

  .left-div {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .form-div {
    color: white;
    width: 100%;
  
  }
  .container {
    width: 100%;
    margin: auto;
  } 
}

@media (max-width: 968px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
